<div class="main_banner_sect">
      <div class="banner_head">
        <div class="mob_nav_icon">
          <img
            src="https://cdn.shopify.com/s/files/1/0644/8830/8805/files/Group_1000008115.png"
          />
        </div>
        <div class="bann_log">
          {% if section.settings.logo %}
          <img
            src="{{ section.settings.logo | img_url : 'master' }} "
          />
            {% endif %}
        </div>

        <div class="bann_head_cont">
          <p>Find the ideal gift for your loved ones.</p>
        </div>
        <div class="bann_head_btn">
          <button class="head_btn">
            <span>choose gift</span><img
              class="btn_icon"
              src="https://cdn.shopify.com/s/files/1/0644/8830/8805/files/Line_15.png?v=1742643409"
            />
          </button>
        </div>
      </div>
      <div class="banner_sect">
        <img
          src="https://cdn.shopify.com/s/files/1/0644/8830/8805/files/Frame.png"
        />
      </div>
      <div class="banner_sect_mob">
        <div class="bann_cont_mob">
         <h1>The Gift Guide</h1>
          <p>
           Discover Joy: Your Ultimate Holiday Gift Destination.
          </p>
        </div>
        <img
          src="https://cdn.shopify.com/s/files/1/0644/8830/8805/files/Frame_1.png"
        />
      </div>
      <div class="sec_banner_sect">
        <div class="cust_bann_cont">
    
          <h1>The Gift Guide</h1>
          <p>
            Discover Joy: Your Ultimate Holiday Gift Destination. Explore our
            curated selection and find the perfect gifts to delight your loved
            ones this holiday season.
          </p>
          <button class="bann_btn_2">
           <span>Shop Now</span><img src="https://cdn.shopify.com/s/files/1/0644/8830/8805/files/Line_15_1.png"/>
          </button>
          
        </div>
        <div class="sec_bann_col">
          <img
            src="https://cdn.shopify.com/s/files/1/0644/8830/8805/files/Frame_2.png"
          />
        </div>
      </div>
  <div>
    <p>{{ section.settings.btm_cont }}</p>
  </div>
    </div>


{% schema %}
  {
    "name": "Test Banner",
    "class": "main_cust_bann",    
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Insert Logo"
      },

      {
        "type": "text",
        "id": "btm_cont",
        "label": "Bottom Content",
        "default":"SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
      }
      
    ],
    "presets": [
      {
        "name":"Test Banner",
      }
    ]
    
  }
{% endschema %}