<div class="cust_main_banner">
<div class="">
  
</div>
  
  
  
</div>


{% schema %}
  {
    "name": "Test Banner",
    "class": "main_cust_bann",    
    "settings": [
      
    ],
    "presets": [
      {
        "name":"Test Banner",
      }
    ]
    
  }
{% endschema %}